.sec-02__parts {
    font-size: 20px;
    font-weight: bold;
    padding: 24px;
    vertical-align: middle;
}

.sec-02__parts-num {
    font-size: 40px;
    display: inline-block;
    margin-left: 16px;
}

.sec-02__btn {
    display: block;
    padding: 16px;
    background-color: #aaa;
    width: 300px;
    max-width: 100%;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}
